*{
    margin: 0;
}

.container{
    display: flex;
    padding: 10vw 5vw;
    min-height: 500px;
    justify-content: center;
}

.container h1{
    display: flex;
    color: black;
    align-items: center;
}

.background{
    position: relative;
    text-align: center;
}

.background img{
    width: 100%;
    height: 100%;    
}

.background h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 10vw;
    text-shadow: 0.5vw 0.5vw #7ED957;
}