*{
    margin: 0;
}
.container-footer{
    display: flex;
    padding: 1vw 5vw;
    background-color: #595959;
    color: white;
    justify-content: space-between;
}

.container-footer img{
    height: 2vw;
    padding: 0 0.5vw;
}
