*{
    margin: 0;
}
.container-footer{
    display: flex;
    padding: 1vw 5vw;
    background-color: #ffb4dd;
    color: #000000;
    justify-content: space-between;
}

.container-footer img{
    height: 3vw;
    padding: 0 1vw;
}
